---
import Layout from '../layouts/Default.astro';
import RecentBlogPosts from '../components/generic/RecentBlogPosts.astro';
import MobileSocials from '../components/home/MobileSocials.astro';
import Card from '../components/generic/Card.astro';
import Button from '../components/generic/Button.astro';
import TagItem from '../components/blog/TagItem.astro';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  { name: 'Content Collections', url: 'https://docs.astro.build/en/guides/content-collections/' },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  { name: 'Sitemap', url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/' },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='CrazyHub | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-gray p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <Card
        color='blue'
        extraClasses='flex flex-col justify-between gap-4 items-start md:col-span-4'
      >
        <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
          Features For <a
            class='text-white'
            target='_blank'
            href='https://discord.gg/N8gB5bMUqQ'>CrazyHub</a
          >
        </p>
        <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
          Scripts And Features For CrazyHub.
        </p>
        <Button href='/blog/'>Check out Recent Updates &rarr;</Button>
      </Card>
      
      <Card color='cyan' extraClasses='col-span-4'>
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
          What is CrazyHub?
        </h2>
        <p class='poppins'>
          CrazyHub is a script hub and we are trying to give u the best experenice while playing ur favorites roblox games and we are trying to keep up
          with updates for yall to enjoy with ur exploting experenice.
        </p>
      </Card>
      <Card color='orange' extraClasses='col-span-8'>
        <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
          How To Load CrazyHub?
        </h2>
        <p class='poppins'>
          To Load CrazyHub U need To Take This Script And Put It Inside Your Executer Then Execute
          loadstring(game:HttpGet('https://raw.githubusercontent.com/CrazyHub123/CrazyHubScripts/main/CrazyHubMain.lua'))()
        

        </p>
      </Card>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
